
@{
    ViewBag.Title = "Cadastro";
}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<div class="container container_cadastro">

    <form class="form_cadastro">
        
            <div class="row">
                <label class="col-lg-8">Nome</label>
                <input class="col-lg-8" type="text" id="nome_completo_cliente"/>

            </div>
            <div class="row">
                <label class="col-lg-8">CPF</label>
                <input class="col-lg-8" type="text" id="cpf_cliente"/>
            </div>
            <div class="row">
                <label class="col-lg-8">Telefone</label>
                <input type="text"  class="phone col-lg-8" id="telefone_cliente" />
            </div>
            <div class="row">
                <label class="col-lg-8" >CEP</label>
                <input class="col-lg-8" id="cep_cliente"/>
            </div>
            <div class="row">
                <label class="col-lg-8">Data de Nascimento</label>
                <input class="col-lg-8" id="data_nasciment_clientes"/>
            </div>
            <div class="row">
                <label class="col-lg-8">E-mail</label>
                <input class="col-lg-8" id="email_cliente"/>
            </div>
            <div class="row">
                <label class="col-lg-8">Senha</label>
                <input class="col-lg-8" id="senha_cliente"/>
            </div>
        
    </form>

</div>

