
@{
    ViewBag.Title = "Cadastro";
}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<div class="container container_cadastro">

    <form class="form_cadastro" method="post" action="~/controle_web/Cadastro_cliente">

        <div class="row">
            <label class="col-lg-8" for="nome_completo_cliente">Nome</label>
            <input class="col-lg-8" type="text" name="nome_completo_cliente" />

        </div>
        <div class="row">
            <label class="col-lg-8" for="cpf_cliente">CPF</label>
            <input class="col-lg-8" type="text" name="cpf_cliente" />
        </div>
        <div class="row">
            <label class="col-lg-8" for="telefone_cliente">Telefone</label>
            <input type="text" class="phone col-lg-8" name="telefone_cliente" />
        </div>
        <div class="row">
            <label class="col-lg-8" for="cep_cliente">CEP</label>
            <input class="col-lg-8" name="cep_cliente" />
        </div>
        <div class="row">
            <label class="col-lg-8" for="data_nasciment_clientes">Data de Nascimento</label>
            <input class="col-lg-8" type="date" name="data_nasciment_clientes" />
        </div>
        <div class="row">
            <label class="col-lg-8" for="email_cliente">E-mail</label>
            <input class="col-lg-8" type="email" name="email_cliente" />
        </div>
        <div class="row">
            <label class="col-lg-8" for="senha_cliente">Senha</label>
            <input class="col-lg-8 " type="password" name="senha_cliente" />

        </div>

        <div class="row">
            <button class="btn-primary col-lg-4" style="margin:15px" type="submit">Enviar</button>
            
            
        </div>

    </form>

</div>

