
@{

    ViewBag.Title = "Index";
}

<div class="container container_carrosel" style="width:100%;">

    <!--Carrosel-->
    <div id="mycarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner">

            <div class="item active">
                <img src="~/Imagem/Carrosel/carrosel_01.jpg" />
            </div>

            <div class="item ">
                <img src="~/Imagem/Carrosel/carrosel_02.jpg" />
            </div>

            <div class="item ">
                <img src="~/Imagem/Carrosel/carrosel_03.jpg" />
            </div>

        </div>

    </div><!--FIM carrosel-->

</div>


<div class="row">
    <div class="row col-lg-6">
        <img class="col-lg-10 imagem_idex_1" src="~/Imagem/Index/imagem_index-01.png" />
        <p class=" texto_index col-lg-8 imagem_idex_1">
            Você já imaginou receber suas compras do supermercado no conforto do seu lar?
            Então saiba que, com o Mercado Libre, isso é possível! Através do nosso delivery,
            você faz suas compras pelo whatsapp e entregamos tudo em sua casa.
        </p>

    </div>


    <div class="row col-lg-6">
        <img class="col-lg-10 imagem_idex_2" src="~/Imagem/Index/imagem_index-02.jpeg" />
        <p class="texto_index col-lg-8 imagem_idex_2">
            Atualmente, atendemos todos as cidades pelo brasil todo, entregando suas compras
            com praticidade e segurança, seguindo todas orientações das organizações de saúde no
            combate à Covid-19.
        </p>
    </div>
</div>


<div class="text-center " style="margin-top:100px; margin-bottom:10px;">
    <video style="width:60%; min-width:250px;" autoplay muted loop>
        <source src="~/Imagem/Index/Videos/Oferta.mp4" type="video/mp4">
    </video>

</div>









