

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Cadastro</title>
    
    <script src="~/js/JavaScript.js"></script>

    <Style>
        
        .div_central{            
            width: 600px;
            height: 480px;
            margin: 0 auto ;
            margin-top: 40px;
            margin-bottom:40px;
            background-color: cadetblue;
        }
        *{       
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }

        .titulo{            
            width: 100%;
            height: 20px; 
            margin-bottom: 30px;          
        }

        .titulo label{            
            margin-left: 10%;            
            font-weight:bold;            
            
        }

        .espacador{
            width: 100%;
            height: 50px;
        }
        
        .divSubtitulo a{
            float: right;
            margin-right: 155px;
            font-size: 14px;
            
        }

        .divSubtitulo label{
            float: left;
            margin-left: 60px;
            
        }

        .divSubtitulo {
            width: 99%;
            height: 23px;
            
        }

        .entrada{
            width: 65%;
            height: 30px;
            margin-left: 60px;
            margin-right: 40px;
        }

        .botaoRadio input{
            margin-left: 60px;

        }

        .botaoRadio div{
            float: left;
            
        }

        .botao button{
            margin-top: 10px;
            margin-left: 348px;
            width: 110px;
            height: 40px;
            background-color:IndianRed;
            border-radius: 7px;
            font-weight:bolder ;
            color: aliceblue;
        }

     
    </Style>

    <script>

        function mostrar(){
            document.getElementById("ocultar1").hidden = false;
            document.getElementById("div_pr").style.height = "480px";

        }   
        
        function ocultar(){
            document.getElementById("ocultar1").hidden = true;
            document.getElementById("div_pr").style.height = "400px";
        }

        function diminuir(){
            
        }
    </script>

    


        <form id="formulario" action="cadastro.html" method="GET">    
            
            <div class="div_central container" id="div_pr">
                
                <div class="row">
                    <label clas8s="col-sm-6">Acesse com seu e-email</label>
                </div>        
            
                <div class=" row divSubtitulo">
                    <label class="col-sm-2"> E-mail:</label>           
                    <a class="col-sm-4" href="">Esqueci meu e-mail</a>             
                </div>
                <!--Entrada-->
                <input class="entrada" type="email" required placeholder="Digite seu e-mail">

                <div class="espacador"></div>
                <div class="titulo">
                    <label>Já possui um cadastro ?</label>
                </div>

                <!--radio button-->
                <div class="botaoRadio">
                    <div>
                        <input type="radio" name="grupo1" id="radio1" onclick="mostrar()" >
                        <label for="group1">Sim</label>
                    </div>
                    <div>
                        <input type="radio" name="grupo1" id="radio2" onclick="ocultar()" >
                        <label for="group1">Não, essa é minha primeira compra</label>
                    </div>
                </div>

                <div style="height: 40px;" class="espacador"></div>      

                <div id="ocultar1">
                    <div class="divSubtitulo" >
                        <label>Senha:</label>
                        <a href="" >Esqueci minha senha</a>
                    </div>
                    
                    
                    <!--Entrada-->
                    <div>
                        <input maxlength="16"  minlength="8" id="senha_usuario" required  style="margin-bottom: 20px" class="entrada" type="password" placeholder="Minimo 8 ">
                    </div>
                </div>

                <div class="botao">
                    <!--<button type="submit" id="btn_enviar" disabled><a style="text-decoration: none; color: white;" href="cadastro.html">Continuar</a></button> -->
                    <a href=""><button class="btn_enviar" onclick="verificaRadio()" >Continuar</button></a>
                </div>
                
            </div>
        </form>

        <script>
            
            function verificaRadio(){

                if(document.getElementById('radio2').checked){
                    

                }

                if(document.getElementById('radio1').checked == false && document.getElementById('radio2').checked == false){
                    alert("Marque um botao radio");
                }else{

                    if(document.getElementById('radio1').checked){
                    document.getElementById('formulario').action = "DOM.html";
                    
                    
                    }else{
                    document.getElementById('senha_usuario').required = false;
                    document.getElementById('formulario').action = "cadastro.html";
                    }
                }
            }            


        </script>


    