
@{
    ViewBag.Title = "Login";
}

@TempData["msg_login"]

@ViewBag.msg_login


<div class="container container_login">
    <form class="form_margin" id="form_login" method="post"  action="~/controle_web/Login_dados">

        <div class="row margin_bottom">
            <label class="col-sm-8">Acesse com seu e-mail e senha</label>
        </div>

        <div class="margin_bottom">
            <!--Entrada email-->
            <div class="row">
                <input class=" limite_resposivo_input_email" type="email" name="email" required placeholder="Digite seu e-mail">
            </div>
        </div>


        <div class="margin_bottom " id="ocultar" hidden>

            <div id="row senha" >
                <!--Entrada senha-->
                <div class="row">
                    <input class="limite_resposivo_input_senha" maxlength="16"  disabled name="senha" minlength="8" id="senha_usuario"  required type="password" placeholder="Digite sua senha ">
                </div>

                <div class="row">
                    <a class=" col-lg-10 link" href="">Esqueci minha senha</a>
                </div>
            </div>
        </div>

        <div class="margin_bottom">
            <div class="row">
                <label class="col-lg-10">Já possui um cadastro ?</label>
            </div>

            <!--radio button-->
            <div class="row">
                <div class="min-width ">
                    <input type="radio" name="grupo1" id="radio1" value="1" onclick="mostrar_login()"  >
                    <label for="group1">Sim</label>
                </div>
                <div class="min-width">
                    <input type="radio" name="grupo1" id="radio2" value="2" onclick="ocultar_login()" checked >
                    <label for="group1">Minha primeira vez</label>
                </div>
            </div>
        </div>



        <div class="row" id="div_botao_login">
            <button type="submit" class=" col-lg-4  btn-primary btn_enviar_form"  onclick="verifica()">Continuar</button>
        </div>



    </form>


</div>

