
@{
    ViewBag.Title = "Produto";

}



<link href="~/css/produto.css" rel="stylesheet" type="text/css" />

<div class="text-center "><img class=" imagem_produto1 " src="~/Imagem/produtos/vendas.jpg"/></div>

@for (int num = 1; num < 3; num++) {
            String produto = "capinha0" + num +".jpeg";

    
        <div class="row container_produto" >

            <div class="centr_produto  col-lg-4">
                <img class="produto_compra " src="~/Imagem/produtos/acessorios_celular/@produto" />
            </div>
            <div class="col-lg-6  centr_produto">
                <p class="text_desc_produto">
                    Atualmente, atendemos todos as cidades pelo brasil todo, entregando suas compras
                    com praticidade e segurança, seguindo todas orientações das organizações de saúde no
                    combate à Covid-19.
                </p>
            </div>
        </div>
    
}



