@model List<E_commerce.Models.Produtos>

@{
    ViewBag.Title = "Produto";

}



<link href="~/css/produto.css" rel="stylesheet" type="text/css" />



<div class="text-center "><img class=" imagem_produto1 " src="~/Imagem/produtos/vendas.jpg" /></div>

@if (Model != null)
{


    foreach (E_commerce.Models.Produtos produto in Model)
    {

        if (produto.Categoria == 2)
        {
            continue;
        }

        String imagem_convert = "data:imagem/jpeg; base64, " + produto.Img_convert;


        <div class="row container_produto btn-outline-secondary" style="border-radius:20px;color:black;" >

            <div class="centr_produto  col-lg-4">
                <img class="produto_compra " src="@imagem_convert" />
            </div>
            <div class="col-lg-6  centr_produto">
                <p class="text_desc_produto">
                    R$:@produto.Preco
                </p>
                <p class="text_desc_produto">
                    @produto.Descricao
                </p>

                <button class="btn btn-primary" style="min-width:60px;width:25%;font-size:14px;margin:10px">Comprar</button>
                <button class="btn btn-primary" style="min-width:80px;width:30%;font-size:14px;margin:10px">Add Carrinho</button>
                
            </div>
        </div>

    }

}





